# jupyter notebook for testing
test_playground.ipynb
debug_playground*.ipynb
visualization.ipynb
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# network state_dict
*.pth

# train log
log.txt
