seed: 123
solver:
    env: CartPole-v1
    lr: 0.00025
    gamma: 0.999
    episodes: 1000000
    frames_stack: 4
    # note: optimize_freq w.r.t timesteps
    optimize_freq: 1
    # note: update_target_freq w.r.t timesteps
    update_target_freq: 2000
    loss: smooth_l1_loss
    optimizer: Adam
greedy:
    start: 0.9
    end: 0.05
    frames: 4000
replay:
    # note: capacity w.r.t states
    capacity: 100000
    init_size: 10000
    batch_size: 128
record:
    save_freq: 10000
    save_path: ./checkpoint
    render: False
    

