seed: 123
solver:
    env: PongNoFrameskip-v4
    # this specifies how much frames stacked for one input
    # also specifies the number of network input channels
    frames_stack: 4
    double_dqn: True
    dueling: True
server:
    num_threads: 4
    lr: 0.0001
    optimizer: Adagrad
client:
    gamma: 0.99
    episodes: 4000
    # this specifies how many frames an action lasts
    frames_action: 4
    # note: gradient push freq w.r.t local timesteps
    gradients_push_freq: 1
    # note: update_target_freq w.r.t global timesteps
    update_target_freq: 1000
    delay_factor: 0.1
    loss: smooth_l1_loss
greedy:
    start: 1
    end: 0.02
    frames: 100000
replay:
    # note: capacity w.r.t states
    capacity: 500000
    init_size: default 
    batch_size: 32
    alpha: 0
    beta:
        start: 0.4
        end: 1
        frames: 100000
record:
    record_rank: 1
    save_freq: 10000
    save_path: ./checkpoint
    load_path: /Users/zhe/Desktop
    render: False
    
